
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read access to everyone for all files.
    match /{allPaths=**} {
      allow read: if true;
    }

    // Allow write access only to authenticated users and only in the 'carousel_images' folder.
    match /carousel_images/{allPaths=**} {
      allow write: if request.auth != null;
    }
  }
}
